img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: 17px;
  }

  .column {
    float: left;
    width: 18%;
    padding: 13px;
  }
  .row {
    margin-left: 3%;
    margin-top: 2%;
}
  .titleimage{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }