/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.companyName{
    font-size: 150%;
}

.mat-toolbar{
  height: 7vh;
}

div {
    overflow: inherit;
}

.mat-sidenav-container{
//   background-color: lightskyblue;
  min-height: 93vh !important;
}

a{
    text-decoration: none;
    font-size: 110%;
    white-space: normal;
}

button{
    font-size: 110%;
    min-width: min-content;
}

.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .mat-sidenav-content{
      font-size: 200%;
      text-align: center;
  }
.menu-spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
    background: #3f51b5;
    color: #fff;
    height: 48px;
}

p {
  font-family: Lato;
  }
  .example-card {
    width: 300px;
    margin-bottom: 50px;
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 20px;
    margin-bottom: 15px;
    height: 250px;
}
  
  mat-card-subtitle{
  font-size:30px
  }
  
  mat-card-title{
  color:green;
  font-size:40px
  }
  .header{
    height: 80px;
  }
  .content{
    height: 110px;
  }
  .action{
    height: 30px;
  }


  // comments css

  .tip {
    width: 0px;
    height: 0px;
    position: absolute;
    background: transparent;
    border: 10px solid #ccc;
  }
  
  .tip-up {
    top: -25px; /* Same as body margin top + border */
    left: 10px;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
  }
  
  .tip-down {
    bottom: -25px;
    left: 10px;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;  
  }
  
  .tip-left {
    top: 10px;
    left: -25px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;  
  }
  
  .tip-right {
    top: 10px;
    right: -25px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;  
  }
  
  .dialogbox .body {
    position: relative;
    // max-width: 300px;
    height: auto;
    margin: 20px 10px;
    padding: 5px;
    background-color: #f0f9f3;
    border-radius: 3px;
    border: 5px solid #b8dac6;
  }
  
  .body .message {
    min-height: 30px;
    border-radius: 3px;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.5;
    color: #000;
  }
  .body .message  p{
   font-weight: 700;
   color: #2a47e4;
   font-size: 15px;
  }

  h1.comme {
    font-size: 26px;
    font-weight: 600;
    margin-left: 1%;
    margin-top: 1%;
}

.wrapper {
  display: grid;
  grid-template-columns: 330px 330px 330px 330px  ;
  grid-gap: 10px;
}

.box {
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

mat-card.mat-card.mat-focus-indicator.example-card.ng-star-inserted {
  margin-left: 40px;
}